/**************Resets******************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td,a,label{ 
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
/**********************************/
/********General Styles************/

body {
    font-size:1.25em;
    font-family: Garamond, serif;
    background-color:#900000;
    height:100%;
    background-image:url('http://unsplash.s3.amazonaws.com/batch%2011/berries.jpg');
}
h1{
    font-size:2.25em;    
    margin: 1em 0;
}

h2{
    margin-top:2.5em;
    font-size:1.15em;
}
label{
   display:block;
}
a{
    color:#000;
}

input{
    border:2px solid #b0b0b0;
    border-radius: 5px;
    color: black;
    width:14em;
    margin-top:.5em;
    height:2em;
    padding:.25em 1em;
    font-family: Helvetica, sans-serif;
    font-size:.85em;   
}
/**********************************/
/***************Layout************/
#community {
    max-width:100%;
    /*margin-top:1em;*/
}
#contentWrapper{
    max-width:75%;
    margin-left:auto;
    margin-right:auto;
}

form ol li{
    padding-bottom: 0.5em;
    width:100%;
    margin:auto;
       
}
.address input{
    display:block;
    margin; 
}   
#buttonFormWrapper {
}
#formContent{
    float:left;
    width:48%;
}
#studentSelection{
    float:left;
    width:48%;
    margin-top:10%;
}
/**********************************/
/********Button Styles*************/
button {
    display:block;
    height:5em;
    width:inherit;
    background-color:gray;/*place holding color until we pick a color scheme */
    color:white;
    font-size:1em;
    border-radius:5px;
    
}
/**********************************/
/**********Tab Styles**************/
#tabs ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #830019;
    padding-bottom:.7%;
    padding-top:1em;
}
#tabs ul li{
    display: inline;
    border: solid;
    border-width: 0 1px 0 1px;
    border-top-width:1px;
    margin: 0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color: gray;
    padding:.35em;
    
}   
#community li.communityTab{
    background-color: white;
}
/**********************************/
/**********Psuedo Classes**************/
a:visited{
    background-color: inherit;
}
input:focus { 
    outline:none;
    border:1px solid #4d90fe;
    box-shadow:0 0 10px #9ecaed;
}
input:hover{
     -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
textarea:focus { 
    outline:none;
    border-color:#4d90fe;
    box-shadow:0 0 15px #9ecaed;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
